<div class="bg-white border border-neutral-200 rounded-lg p-4 hover:bg-neutral-50 transition-colors "
     >
  <div class="flex items-center space-x-4"
  >
    <img [src]="user().imageUrl"
         [alt]="user().username"
        (click)="navigateToProfile()"
         class="w-12 h-12 rounded-full object-cover"
         (click)="$event.stopPropagation()" />

    <div class="flex-1 min-w-0">
      <h4 class="text-lg text-black font-medium cursor-pointer"
        (click)="navigateToProfile()"
      >{{ user().fullname }}</h4>
      <p class="text-sm text-neutral-500">&#64;{{ user().username }}</p>
      <p class="text-xs text-neutral-400 mt-1">{{ user().email }}</p>
    </div>

    <!-- Action Buttons -->
    @switch (user().friendshipStatus) {
      @case ('not_connected') {
        <button (click)="onAddFriend(); $event.stopPropagation()"
          class="bg-neutral-500 text-white px-4 py-2 rounded-lg hover:bg-neutral-600
                 focus:outline-none focus:ring-2 focus:ring-neutral-500 text-sm cursor-pointer
                 flex items-center space-x-2 transition-colors">
          <i class="fa-solid fa-user-plus"></i>
          <span>Add Friend</span>
        </button>
      }

      @case ('friend_request_sent') {
        <button disabled
          class="bg-white border border-neutral-200 text-neutral-700 px-4 py-2 rounded-lg
                 cursor-not-allowed text-sm flex items-center space-x-2">
          <i class="fa-solid fa-clock"></i>
          <span>Pending</span>
        </button>
      }

      @case ('friends') {
        <div class="bg-neutral-500 text-white px-4 py-2 rounded-lg text-sm flex items-center space-x-2">
          <i class="fa-solid fa-user-check"></i>
          <span>Friends</span>
        </div>
      }

      @case ('friend_request_received') {
        <button (click)="onAcceptRequest(); $event.stopPropagation()"
          class="bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary-600
                 focus:outline-none focus:ring-2 focus:ring-primary-500 text-sm
                 flex items-center space-x-2 transition-colors">
          <i class="fa-solid fa-user-check"></i>
          <span>Accept Request</span>
        </button>
      }

      @case ('blocked') {
        <div class="bg-white border border-red-200 text-red-700  px-4 py-2 rounded-lg text-sm flex items-center space-x-2">
          <i class="fa-solid fa-ban"></i>
          <span>Blocked</span>
        </div>
      }

      @case ('blocked_by') {
        <div class="bg-white border border-red-200 text-red-700 px-4 py-2 rounded-lg text-sm flex items-center space-x-2">
          <i class="fa-solid fa-user-lock"></i>
          <span>Blocked by User</span>
        </div>
      }

      @default {
        <div class="bg-gray-50 text-gray-700 px-4 py-2 rounded-lg text-sm">
          <span>Unknown Status</span>
        </div>
      }
    }
  </div>
</div>
