spring:
  output:
    ansi:
      enabled: always
  application:
    name: loci
  profiles:
    active: "dev"
  security:
    oauth2:
      resourceserver:
        jwt.issuer-uri: http://localhost:9090/realms/loci-realm
  threads:
    virtual:
      enabled: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

# keycloak.auth-server-url=https://your-keycloak-server.com
# keycloak.realm=your-realm-name
  # mvc:
  #   servlet:
  #     path: /api/v1
server:
  servlet:
    context-path: /api/v1
springdoc:
  api-docs:
    path: /api-docs
