spring:
  cache:
    type: hybrid # hybrid | redis | caffeine
  application:
    name: loci
  boot:
    admin:
      client:
        url: ${SPRING_BOOT_ADMIN_CLIENT_URL:http://localhost:7070}
        username: ${SPRING_BOOT_ADMIN_CLIENT_USERNAME:admin}
        password: ${SPRING_BOOT_ADMIN_CLIENT_PASSWORD:adminadmin}

  # redis:
  #   host: localhost
  #   port: 6379
  #   password:

  threads:
    virtual:
      enabled: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

  security:
    websocket:
      same-origin-disabled: true
    oauth2:
      resourceserver:
        jwt.issuer-uri: http://localhost:9090/realms/loci-realm
  flyway:
    enabled: true
    locations: classpath:db/migrations
    baseline-on-migrate: true
    url: ${SPRING_FLYWAY_URL:jdbc:postgresql://localhost:5432/locidb}
    user: ${SPRING_FLYWAY_USER:admin}
    schemas: public
    password: ${SPRING_FLYWAY_PASSWORD:admin}

    # Deadzone!
    # clean-disabled: false
    # clean-on-validation-error: true

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/locidb}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      poolName: Hikari
      # Require to specify commit use like @Transactional
      auto-commit: false # connection is acquired immediately upon entering a @Transactional
    type: com.zaxxer.hikari.HikariDataSource
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false # Release connection directly instead of wait for HTTP response completes
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        #generate_statistics: true
        format_sql: true

      # NOTE: Use for init database schema
      # hibernate:
      #   ddl-auto: create
      # properties:
      jakarta:
        persistence:
          schema-generation:
            scripts:
              action: create
              create-target: src/main/resources/schema.sql

      # jakarta:
      #   persistence:
      #     schema-generation:
      #       create-source: metadata
      #       scripts:
      #         action: update
      #         create-target: src/main/resources/update.sql

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

  # Define message queue connection
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST:/}
    username: ${SPRING_RABBITMQ_USERNAME:admin}
    password: ${SPRING_RABBITMQ_PASSWORD}

    stomp:
      enabled: true
      host: ${SPRING_RABBITMQ_STOMP_HOST:localhost}
      port: ${SPRING_RABBITMQ_STOMP_PORT:61613}
  websocket:
    max-text-message-size: 8192
    max-binary-message-size: 8192

stomp.relay:
  type: ${STOMP_RELAY_TYPE:inmemory} # rabbitmq | inmemory
  relay-host: ${STOMP_RELAY_HOST:localhost}
  relay-port: ${STOMP_RELAY_PORT:61613}
  client-login: ${STOMP_RELAY_CLIENT_LOGIN:guest}
  client-passcode: ${STOMP_RELAY_CLIENT_PASSCODE:guest}
  system-login: ${STOMP_RELAY_SYSTEM_LOGIN:guest}
  system-passcode: ${STOMP_RELAY_SYSTEM_PASSCODE:guest}
  system-heartbeat-send-interval: 5000
  system-heartbeat-receive-interval: 4000

application:
  client-base-url: ${APPLICATION_CLIENT_BASE_URL:http://localhost:4200}
  cors:
    allowed-origins: ${APPLICATION_CORS_ALLOWED_ORIGINS:http://localhost:4200}
    allowed-methods: "*"
    # allowed-mappings: "/**"
    allowed-headers: "*"
    exposed-headers: "*"
    allow-credentials: true
    max-age: 300

management:
  endpoints:
    prometheus:
      enabled: true # Check /actuator/prometheus
    jmx:
      exposure:
        include: health,info

    web:
      exposure:
        # Access /actuator/metrics or /actuator/prometheus
        include: "*"
        # include: health,info,metrics,prometheus,httpexchanges

        exclude: env,beans

  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: loci-app
    distribution.percentiles-histogram.http:
      server.requests: true
      client.requests: true # 50ms,100ms,200ms,500ms,1s,5s #true

flyway:
  enabled: true
  url: ${FLYWAY_URL:jdbc:postgresql://localhost:5432/locidb}
  user: ${FLYWAY_USER:admin}
  schemas: public
  password: ${FLYWAY_PASSWORD:admin}
  locations: src/main/resources/db/migrations

shell:
  interactive:
    enabled: false

logging:
  com.loci.loci_backend: DEBUG

  level:
    org.springframework.security.web.FilterChainProxy: TRACE
keycloak:
  auth-server-url: ${KEYCLOAK_AUTH_SERVER_URL:http://localhost:8080}
  resource: ${KEYCLOAK_RESOURCE:spring}
  public-client: false
  migration-password: ${KEYCLOAK_MIGRATION_PASSWORD:exampleloci123}
  credentials:
    username: ${KEYCLOAK_CREDENTIALS_USERNAME:admin}
    password: ${KEYCLOAK_CREDENTIALS_PASSWORD:admin}

upload:
  minio:
    enable: ${UPLOAD_MINIO_ENABLE:false}
    url: ${UPLOAD_MINIO_URL:http://localhost:9000}
    access-key: ${UPLOAD_MINIO_ACCESS_KEY:minioadmin}
    secret-key: ${UPLOAD_MINIO_SECRET_KEY}
    secure: false
    bucket: ${UPLOAD_MINIO_BUCKET:loci-bucket-01}
    metric-name: ""
    url-prefix: ${UPLOAD_MINIO_URL_PREFIX:http://localhost:9000}
    region: ${UPLOAD_MINIO_REGION:us-east-1}

# logging:
#   structured:
#     json:
#       enabled: true
#       format: logstash  # Or 'ecs' for Elastic Common Schema
#       stacktrace:
#         root: first
#         max-length: 1024
#         include-common-frames: true
#         include-hashes: true
