spring:
  application:
    name: loci

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  threads:
    virtual:
      enabled: true




  datasource:
    url: jdbc:postgresql://localhost:5432/locidb
    username: admin
    password: admin
    hikari:
      poolName: Hikari
      # Require to specify commit use like @Transactional
      # auto-commit: false
    type: com.zaxxer.hikari.HikariDataSource
  jpa:
    hibernate:
      ddl-auto: create



  security:
    oauth2:
      resourceserver:
        jwt.issuer-uri: http://localhost:9090/realms/loci-realm

  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB



application:
  client-base-url: http://localhost:4200
  cors:
    allowed-origins: http://localhost:4200
    allowed-methods: "*"
    # allowed-mappings: "/**"
    allowed-headers: "*"
    exposed-headers: "*"
    allow-credentials: false
    max-age: 300

management:
  endpoints:
    jmx:
      exposure:
        include: health,info

    web:
      exposure:
        # Access /actuator/metrics or /actuator/prometheus
        # include: "*"
        include: health,info,metrics,prometheus

        exclude: env,beans
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: loci-app  # tag for app-server metrics


flyway:
  url: jdbc:mysql://localhost:5432/locidb
  user: admin
  password: admin



server:
  servlet:
    context-path: /api


logging:
  structured:
    json:
      enabled: true
      format: logstash  # Or 'ecs' for Elastic Common Schema
      stacktrace:
        root: first
        max-length: 1024
        include-common-frames: true
        include-hashes: true
