apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: Prometheus
    access: proxy
    # Bind via docker
    url: http://loci-prometheus:9090 # the the internal port of docker network
    isDefault: true
    editable: false
